@import './../../node_modules/bootstrap/less/bootstrap.less';
@color: royalblue;

@font-size-base:          12px;

.record {
  border-bottom: @color solid 1px;
}

.event {

  stroke-width:1px;
  stroke:@color;
  fill: transparent;

}

.eventLine {

  stroke-width:4px;
  stroke: darken(white, 10%);
  stroke-linecap:round;
}

.matrice {
  font-size: 10px;

  .actors {
    text-anchor: middle;
    font-weight: bold;
  }

  .eventLine {
    stroke-width:1px;
  }
}

#controls {
  // position: fixed;
  height: 80px;
  background-color: lighten(gold, 45%);
  z-index: 1000;
  border-radius: 5px;
}

#vizContainer {
  margin-top:80px;
}
