@import './../../node_modules/bootstrap/less/bootstrap.less';
@color: royalblue;

.record {
  border-bottom: @color solid 1px;
}

.event {

  stroke-width:1px;
  stroke:@color;
  fill: transparent;

}

.eventLine {

  stroke-width:10px;
  stroke: darken(white, 10%);
  stroke-linecap:round;
}
